{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col">
    <div class="container">
      <h1>Listado de familiares</h1>

      {% if familia %} {% for familiar in familia %}
      <div class="card my-3" style="width: 18rem">
        <div class="card-body">
          <h4 class="card-title">{{ familiar.full_name }}</h4>
          <h6 class="card-title">{{ familiar.relation }}</h6>
          <br />
          <p class="card-text">
            Fecha de nacimiento: {{ familiar.fecha_nacimiento }}
          </p>
          <p class="card-text">Edad: {{ familiar.age }} años.</p>
          <a href="{{ familiar.get_absolute_url }}" class="btn btn-primary">
            Detalles
          </a>
        </div>
      </div>
      {% endfor %} {% else %}
      <p>No hay familiares cargados.</p>
      {% endif %} {% endblock content %}
    </div>
  </div>
</div>
